.back{
    height: auto;
    width: 11%;
}

.coracao{
    align-items: center;
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-top: -6%;

}

.texto1{
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    margin-top: 5%;
    line-height: 0.1; 
}

.texto2{
    font-family: "Phudu", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 45px;
    color: #0232B5;
    text-align: center;
 
}

.texto3{
    font-family: "Phudu", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    line-height: 0.1; 
    margin-bottom: 6%;
}


footer {
    background-color: #0232B5; 
    color: white; 
    padding: 20px 0; 
    width: 100%; 
    position: relative; 
}

.footer-content {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px; 
}

.p1 {
    flex: 1; 
    text-align: center; 
}

.p2 {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    text-align: right; 
}

.p2 li {
    margin-bottom: 5px; 
}

body, html {
    margin: 0;
    padding: 0;
}